registry=https://npm-221581667315.d.codeartifact.eu-west-1.amazonaws.com/npm/npm-dev/
//npm-221581667315.d.codeartifact.eu-west-1.amazonaws.com/npm/npm-dev/:always-auth=true
//npm-221581667315.d.codeartifact.eu-west-1.amazonaws.com/npm/npm-dev/:_authToken=${CODEARTIFACT_AUTH_TOKEN}